/* Typography */
@font-face {
    font-family: "Scheherazade New Regular";
    src: local("Scheherazade_New"), url("../fonts/Scheherazade_New/ScheherazadeNew-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Scheherazade New Bold";
    src: local("Scheherazade_New"), url("../fonts/Scheherazade_New/ScheherazadeNew-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Scheherazade New Medium";
    src: local("Scheherazade_New"), url("../fonts/Scheherazade_New/ScheherazadeNew-Medium.ttf") format("truetype");
  }

@font-face {
  font-family: "Inter";
  src: local("Inter-VariableFont_opsz,wght"), url("../fonts/Inter/Inter-VariableFont.ttf") format("truetype");
}

/* ################################################################################################################################## */

/* Component styling */
.sectionTitle {
    font-family: "Scheherazade New Medium", serif;
    color: #363636;
    letter-spacing: -0.5px;
}

/* TODO: Selected menu item should be #363636. All others should be a lighter shade */
.menuText {
  font-family: "Inter", sans-serif;
  color: #363636;
  letter-spacing: -0.5px;
  font-weight: 500;
}

.patientVerticalMenu-container {
  position: fixed;             
  top: 10vh;
  left: 1vw;
  height: 90vh;               
  width: 10vw;                 
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.patientVerticalMenu {
  display: flex;
  flex-direction: column;
}

.menuDivider {
  border-top: 1px solid #ccc;
  width: 9vw;
}

.patientHeaderBar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.3%;
  position: fixed;
  top: 0;
}

.patientHeaderBar {
  width: 99vw;
  height: 7vh;
  background-color: #F0EFEB;
  border-radius: 5px 5px 5px 5px;
}

.patientLeftGraphDetail-container {
  display: flex;
  position: fixed;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  width: 35vw;
  height: 90vh;
  top: 10vh;
  left: 11vw;
}

.patientRightGraphDetail-container {
  position: fixed;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  right: 1vw;
  top: 10vh;
  width: 52.8vw;
  height: 90vh;
}

.rightGraphDetailBox-left {
  border-right: 1px solid #ccc;
  width: 25vw;
  height: 25vh;
}

.rightGraphDetailBox-right {
  width: 25vw;
  height: 25vh;
}

.rightGraphDetailBox-inner-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-bottom: 4%;
}

.rightGraphDetailBox-outer-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40vh;
  margin-bottom: 2%;
}

